@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@stylex stylesheet;

a {
  text-decoration: none;
  color: inherit;
}
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
dt,
dd,
label,
table {
  margin: 0;
}

ol,
ul {
  margin: 0;
  list-style: none;
}
#root {
  height: 100%;
}
